<section class="section section-lg section-shaped pb-250">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-lg-md d-flex">
      <div class="col px-0">
        <div class="row">
          <div class="col-12">
            <div class="jumbtron">
 <h1 class="display-3  text-white">Datos de Usuario</h1>
<hr>
<div class="row">
  <div class="col-md-10">
      <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
      <h3  style="color: blue">Listado Usuario</h3>
      <hr>
    <table class="table-responsive table table-striped table-dark table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Usuario</th>
          <th scope="col">Nombre</th>
          <th scope="col">2º Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tr *ngFor="let pd of service.list | paginate: {itemsPerPage: 10, currentPage: pageActual}; index as i">
        <th class="text-white" scope="row">{{i+1}}</th>
        <td (click)="populateForm(pd)" class="text-white">{{pd.userName}}</td>
        <td (click)="populateForm(pd)" class="text-white">{{pd.name}}</td>
        <td (click)="populateForm(pd)" class="text-white">{{pd.lastName}}</td>
        <td (click)="populateForm(pd)" class="text-white">{{pd.age}}</td>
        <td (click)="populateForm(pd)" class="text-white">{{pd.lastSessionDateTime}}</td>
      </tr>
    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  </div>
</div>
</div>
</div>
</div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>