<section class="section section-lg section-shaped pb-250">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-lg-md d-flex">
      <div class="col px-0">
        <div class="row">
          <div class="col-12">
            <div class="jumbtron">
  <h1 class="display-3  text-white">Listado de hardware y software por usuario</h1>
  <div class="row">
  <div class="col-md-5">
            <div class="card-body px-lg-5 py-lg-5">
    <form #form="ngForm" autocomplete="off" (submit)="insertRecord(form)">
  <div class="form-group">
  <label class="text-white">Usuario</label>
  <div class="input-group">

    <select  name="UserID" #UserID="ngModel" [(ngModel)]="assigservice.formData.UserID" (ngModelChange)="getiduser(form)"  class="form-control">
      <option value="0">-Select-</option>
      <option *ngFor="let u of service.list" value="{{u.id}}">{{u.userName}}</option>
    </select>
  </div>
  </div>
 
  </form>
  </div>
  </div>

  <div class="col-md-12">
      <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
              <h3  style="color: blue">Listado Hardware y software</h3>
              <hr>
    <table class="table table table-striped table-dark table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Hardware</th>
          <th scope="col">Software</th>
        </tr>
      </thead>
     <tr *ngFor="let p of assigservice.list | paginate: {itemsPerPage: 4, currentPage: pageActual}; index as i">
        <th class="text-white" scope="row">{{i+1}}</th>
        <td class="text-white">{{p.hardwareName}}</td>
        <td class="text-white">{{p.softwareName}}</td>
      </tr>
    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  </div>
  </div>
  </div>
  </div>
  </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>